
h2 {padding: 0 20px 20px 20px;}

 
/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
  }
  body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
  }
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #2d2d30;
    text-align: center;
    
  }

  img { margin:0 30px 20px 10px;}
  /*text on the images */

  #bigimg {
    bottom:40px;
    left: 10px;
    width:100%;
    background-color: #4aaaa5;
    position: absolute;
    color:white;
    text-align: center;}

    #smallimg {
    bottom:40px;
    width:100%;
    left: 10px;

    background-color: #4aaaa5;
    position: absolute;
    color:white;
    text-align: center;}

    #smallimg2 {
    bottom:40px;
    width:100%;
    left: 10px;
    background-color: #4aaaa5;
    position: absolute;
    color:white;
    text-align: center;  
    }


   .thumbnail{
    position:relative;
    padding: 0;
    }